flows_19-09-11.json
[{"id":"b4802852.65f768","type":"tab","label":"Tang - park.anywhere","disabled":false,"info":""},{"id":"edc0835a.bfd08","type":"comment","z":"b4802852.65f768","name":"Device Dashboard","info":"","x":130,"y":40,"wires":[]},{"id":"3e725e48.783e92","type":"comment","z":"b4802852.65f768","name":"MQTT Input","info":"","x":130,"y":100,"wires":[]},{"id":"c372148b.fac548","type":"comment","z":"b4802852.65f768","name":"GUI Elements","info":"","x":810,"y":100,"wires":[]},{"id":"39a6cb87.c98234","type":"comment","z":"b4802852.65f768","name":"MQTT Output","info":"","x":1080,"y":100,"wires":[]},{"id":"aef3eea6.71db8","type":"comment","z":"b4802852.65f768","name":"Settings","info":"","x":120,"y":160,"wires":[]},{"id":"41807d66.87e464","type":"comment","z":"b4802852.65f768","name":"Parking Spot","info":"","x":130,"y":360,"wires":[]},{"id":"409803e5.00d54c","type":"comment","z":"b4802852.65f768","name":"Description","info":"","x":120,"y":620,"wires":[]},{"id":"860a4c0f.a091","type":"inject","z":"b4802852.65f768","name":"Description","topic":"","payload":"{\"id\":\"123456\",\"owner\":\"Hansruedi\",\"location\":\"6000 Luzern\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":660,"wires":[["5ffed98b.c14858"]]},{"id":"5ffed98b.c14858","type":"ui_template","z":"b4802852.65f768","group":"42aa18b5.88c358","name":"Description","order":1,"width":"8","height":"11","format":"<style>\n    .column {\n        float: left;\n        height: 80px;\n    }\n    .left {\n        text-align: left;\n        width: 10%;\n    }\n    .center {\n        text-align: left;\n        width: 70%;\n    }\n    .right {\n        text-align: right;\n        width: 20%;\n    }\n</style>\n\n<div style=\"font-size: 18px\" class=\"row\">\n    <div class=\"column left\"><img src=\"/Pictures/parking_spot.png\" height=\"30px\" width=\"30px\"/></div>\n    <div class=\"column\" style=\"width:40%\"><b>Parkplatz ID:</b></div>\n    <div class=\"column\" style=\"width:50%; text-align:right\"><font color=\"2DB682\"><b>{{msg.payload.id}}</b></font></div>\n</div>\n<div style=\"font-size: 18px\" class=\"row\">\n    <div class=\"column left\"><img src=\"/Pictures/pp_owner.png\" height=\"30px\" width=\"30px\"/></div>\n    <div class=\"column\" style=\"width:40%\">Parkplatz Besitzer:</div>\n    <div class=\"column\" style=\"width:50%; text-align:right\"><font color=\"2DB682\">{{msg.payload.owner}}</font></div>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":810,"y":660,"wires":[[]]},{"id":"d2640590.132f68","type":"ui_template","z":"b4802852.65f768","group":"19bf29ef.b8da26","name":"Parking Spot","order":2,"width":"8","height":"10","format":"<div align=\"center\">\n    <div style=\"position: relative; left: 0; right: 0;\">\n        <img src=\"/Pictures/parking_space.jpg\" width=\"384\" style=\"position: relative; left: 0; top: 0;\"/>\n        <img src=\"/Pictures/{{msg.payload}}\" width=\"192\" style=\"position: absolute; left: 111px; top: 48px;\"/>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":810,"y":420,"wires":[[]]},{"id":"1da32228.059fbe","type":"inject","z":"b4802852.65f768","name":"Settings","topic":"","payload":"{\"disabled\":false,\"large\":true,\"timefree\":\"09:00 - 12:00\",\"sensitive\":false,\"charging\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["cdebe18f.c308d"]]},{"id":"b947702b.50524","type":"ui_template","z":"b4802852.65f768","group":"841a3233.80168","name":"Description","order":0,"width":"8","height":"11","format":"<style>\n    .column {\n        float: left;\n        height: 80px;\n    }\n    .left {\n        text-align: left;\n        width: 10%;\n    }\n    .center {\n        text-align: left;\n        width: 70%;\n    }\n    .right {\n        text-align: right;\n        width: 20%;\n    }\n</style>\n\n<div style=\"font-size: 18px\" class=\"row\">\n    <div class=\"column left\"><img src=\"/Pictures/time.png\" height=\"30px\" width=\"30px\"/></div>\n    <div class=\"column\" style=\"width:40%\"><b>Freier Timeslot:</b></div>\n    <div class=\"column\" style=\"width:50%; text-align:right\"><font color=\"2DB682\"><b>{{msg.payload.timefree}}</b></font></div>\n</div>\n<div style=\"font-size: 18px\" class=\"row\">\n    <div class=\"column left\"><img src=\"/Pictures/sensitive.png\" height=\"30px\" width=\"30px\"/></div>\n    <div class=\"column center\">Timeslot muss eingehalten werden:</div>\n    <div class=\"column right\"><font color=\"{{msg.color3}}\">{{msg.payload.sensitive}}</font></div>\n</div>\n<div style=\"font-size: 18px\" class=\"row\">\n    <div class=\"column left\"><img src=\"/Pictures/disabled.png\" height=\"30px\" width=\"30px\"/></div>\n    <div class=\"column center\">Behindertengerecht:</div>\n    <div class=\"column right\"><font color=\"{{msg.color1}}\">{{msg.payload.disabled}}</font></div>\n</div>\n<div style=\"font-size: 18px\" class=\"row\">\n    <div class=\"column left\"><img src=\"/Pictures/large.png\" height=\"30px\" width=\"30px\"/></div>\n    <div class=\"column center\">Extra gross:</div>\n    <div class=\"column right\"><font color=\"{{msg.color2}}\">{{msg.payload.large}}</font></div>\n</div>\n<div style=\"font-size: 18px\" class=\"row\">\n    <div class=\"column left\"><img src=\"/Pictures/charging.png\" height=\"30px\" width=\"30px\"/></div>\n    <div class=\"column center\">Smart Charging:</div>\n    <div class=\"column right\"><font color=\"{{msg.color4}}\">{{msg.payload.charging}}</font></div>\n</div>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":810,"y":200,"wires":[[]]},{"id":"898e6c95.ff65f","type":"mqtt in","z":"b4802852.65f768","name":"","topic":"parkin","qos":"2","datatype":"auto","broker":"b99ae50d.0b4e68","x":110,"y":400,"wires":[["b4eae215.683cc","859c77bd.496fa8"]]},{"id":"81c99882.613148","type":"mqtt in","z":"b4802852.65f768","name":"","topic":"parkout","qos":"2","datatype":"auto","broker":"b99ae50d.0b4e68","x":110,"y":440,"wires":[["fc7bf09c.a932d","3218452b.eb352a"]]},{"id":"b4eae215.683cc","type":"json","z":"b4802852.65f768","name":"","property":"payload","action":"","pretty":false,"x":250,"y":400,"wires":[["3218452b.eb352a"]]},{"id":"859c77bd.496fa8","type":"looptimer","z":"b4802852.65f768","duration":"1","units":"Second","maxloops":"1000","maxtimeout":"15","maxtimeoutunits":"Minute","name":"","x":420,"y":520,"wires":[["2015edfa.107cc2"],["2015edfa.107cc2"]]},{"id":"2015edfa.107cc2","type":"function","z":"b4802852.65f768","name":"counter","func":"var topic = msg.topic\nvar count = context.get('count')||0;\nvar time = context.get('time')||0;\nvar timer = \"Kein Auto geparkt\";\n\nif (topic == \"parkin\") {\n    count++;\n    context.set('count',count);\n    context.set('time',count);\n} else {\n    count = 0;\n    context.set(\"count\", 0);\n}\n\nif (context.get('time')<120) {\n    timer = String(context.get('time'));\n    timer += \" Sekunden\";\n} else {\n    timer = String(context.get('time')/60)\n    timer += \" Minuten\";\n}\nmsg.count = count;\nmsg.time = context.get('time');\nmsg.timer = timer;\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":520,"wires":[["b9d75839.034a08"]]},{"id":"b9d75839.034a08","type":"ui_text","z":"b4802852.65f768","group":"19bf29ef.b8da26","order":1,"width":0,"height":0,"name":"","label":"Time on parking spot","format":"{{msg.timer}}","layout":"row-spread","x":840,"y":520,"wires":[]},{"id":"fc7bf09c.a932d","type":"change","z":"b4802852.65f768","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":520,"wires":[["859c77bd.496fa8"]]},{"id":"cdebe18f.c308d","type":"function","z":"b4802852.65f768","name":"change color","func":"if (msg.payload.disabled === true){\n    msg.color1 = \"2DB682\";\n    msg.payload.disabled = \"JA\";\n} else {\n    msg.color1 = \"FF0000\";\n    msg.payload.disabled = \"NEIN\";\n}\n\nif (msg.payload.large === true){\n    msg.color2 = \"2DB682\";\n    msg.payload.large = \"JA\";\n} else {\n    msg.color2 = \"FF0000\";\n    msg.payload.large = \"NEIN\";\n}\n\nif (msg.payload.sensitive === true){\n    msg.color3 = \"FF0000\";\n    msg.payload.sensitive = \"JA\";\n} else {\n    msg.color3 = \"2DB682\";\n    msg.payload.sensitive = \"NEIN\";\n}\n\nif (msg.payload.charging === true){\n    msg.color4 = \"2DB682\";\n    msg.payload.charging = \"JA\";\n} else {\n    msg.color4 = \"FF0000\";\n    msg.payload.charging = \"NEIN\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["b947702b.50524"]]},{"id":"1e42b8c2.3b9c37","type":"comment","z":"b4802852.65f768","name":"Functions","info":"","x":440,"y":100,"wires":[]},{"id":"3218452b.eb352a","type":"function","z":"b4802852.65f768","name":"select image","func":"var car1 = \"80 5d 03 02 72 40 04\";\nvar car2 = \"80 5d 03 02 47 65 04\";\n\nif (msg.topic == \"parkin\") {\n    if (msg.payload.carId == car1) {\n        msg.payload = \"car1.png\";\n    } else if (msg.payload.carId == car2) {\n        msg.payload = \"car2.png\";\n    } else {\n        msg.payload = \"invalid.png\";\n    }\n} else {\n    msg.payload = \"blank.png\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["d2640590.132f68"]]},{"id":"42aa18b5.88c358","type":"ui_group","z":"","name":"Description","tab":"33c44f71.93704","order":3,"disp":true,"width":"8","collapse":false},{"id":"19bf29ef.b8da26","type":"ui_group","z":"","name":"Parking Spot","tab":"33c44f71.93704","order":2,"disp":true,"width":"8","collapse":false},{"id":"841a3233.80168","type":"ui_group","z":"","name":"Settings","tab":"33c44f71.93704","order":1,"disp":true,"width":"8","collapse":false},{"id":"b99ae50d.0b4e68","type":"mqtt-broker","z":"","name":"Broker","broker":"Tang-RPI.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"33c44f71.93704","type":"ui_tab","z":"","name":"Device Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]